@()

@main(Messages("location")) {

<div class="page-block center-page">
  <div class="page-header">
  </div>
  <h3>@Messages("location")</h3>
  <div class="row">
    <div class="span6">
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=215888923952976927679.0004d020292d560688718&amp;hl=fr&amp;ie=UTF8&amp;ll=44.125054,4.077391&amp;spn=0,0&amp;t=w&amp;output=embed"></iframe><br /><small>Afficher <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=215888923952976927679.0004d020292d560688718&amp;hl=fr&amp;ie=UTF8&amp;ll=44.125054,4.077391&amp;spn=0,0&amp;t=w&amp;source=embed" style="color:#0000FF;text-align:left">Mairie</a> sur une carte plus grande</small>
    </div>
    <div class="span5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit, elit at interdum accumsan, lectus nibh aliquam sem, sed adipiscing nisl eros non augue. Phasellus consequat mi eu nisl fringilla convallis. In vel diam non libero tincidunt hendrerit. Duis id augue urna. Proin quis faucibus nisi. Pellentesque volutpat lacinia elementum. Donec tempus auctor varius. Proin sapien urna, mollis vel viverra a, imperdiet eu odio. Donec suscipit condimentum pulvinar. Suspendisse sed pellentesque metus. Sed augue sem, tincidunt a laoreet vel, ultrices id urna. Sed ultrices, nibh nec varius fermentum, tellus tellus pharetra nisi, a sollicitudin justo metus non sem.
    </div>
  </div>
  <br />
  <div class="row">
    <div class="span5">
      Nullam luctus odio at neque congue non dapibus lorem vestibulum. Duis eget lorem eu mauris commodo aliquet ac consequat mauris. Nulla commodo pharetra cursus. Integer sem nisl, ultricies vitae congue vel, eleifend ac orci. Duis id erat felis, vitae mattis urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce molestie lacus et leo porta fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
    <div class="span6">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=215888923952976927679.0004d02069fcc9a661df4&amp;hl=fr&amp;ie=UTF8&amp;t=m&amp;ll=44.185004,4.137211&amp;spn=0.010771,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small>Afficher <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=215888923952976927679.0004d02069fcc9a661df4&amp;hl=fr&amp;ie=UTF8&amp;t=m&amp;ll=44.185004,4.137211&amp;spn=0.010771,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Château de Rousson - Gite du Mas de la Salière</a> sur une carte plus grande</small>
    </div>
  </div>
</div>

}
