@()

@main(Messages("story")) {

<div class="page-block center-page">
  <div class="page-header">
  </div>
  <h3>@Messages("wedding.event")</h3>
  <div class="row">
    <div class="span3">
      <img src="@routes.Assets.at("images/church.jpg")" />
    </div>
    <div class="span8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit, elit at interdum accumsan, lectus nibh aliquam sem, sed adipiscing nisl eros non augue. Phasellus consequat mi eu nisl fringilla convallis. In vel diam non libero tincidunt hendrerit. Duis id augue urna. Proin quis faucibus nisi. Pellentesque volutpat lacinia elementum. Donec tempus auctor varius. Proin sapien urna, mollis vel viverra a, imperdiet eu odio. Donec suscipit condimentum pulvinar. Suspendisse sed pellentesque metus. Sed augue sem, tincidunt a laoreet vel, ultrices id urna. Sed ultrices, nibh nec varius fermentum, tellus tellus pharetra nisi, a sollicitudin justo metus non sem.
    </div>
  </div>
  <br />
  <div class="row">
    <div class="span8">
      Nullam luctus odio at neque congue non dapibus lorem vestibulum. Duis eget lorem eu mauris commodo aliquet ac consequat mauris. Nulla commodo pharetra cursus. Integer sem nisl, ultricies vitae congue vel, eleifend ac orci. Duis id erat felis, vitae mattis urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce molestie lacus et leo porta fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </div>
    <div class="span3">
      <img src="@routes.Assets.at("images/champagne.jpg")" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="span3">
      <img src="@routes.Assets.at("images/cake1.jpg")" />
    </div>
    <div class="span8">
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi ut felis sapien. Integer nec pretium augue. Sed non lorem nunc. Morbi volutpat tincidunt nisi a fermentum. Suspendisse potenti. Nulla in tellus et elit tempus suscipit. Phasellus enim massa, sodales at cursus et, accumsan vitae nunc. Nam rutrum lacus risus. Donec cursus, est eu congue scelerisque, nisl odio ultricies tellus, accumsan fermentum purus massa vitae mi. Nunc id ullamcorper ipsum. Praesent eu sodales dui.
      <br />
      Proin commodo tempor lacinia. Nam varius eros sit amet quam posuere faucibus. Praesent et massa non lorem facilisis viverra. Fusce erat lectus, imperdiet quis pretium nec, eleifend quis tortor. Morbi nunc arcu, pulvinar et sollicitudin vel, dictum nec quam. Vivamus in sem in quam mattis rhoncus. Duis posuere, quam id ultrices luctus, massa erat tincidunt purus, vitae congue neque eros in nunc. Maecenas vel dolor sapien. Vivamus tempus interdum enim sed volutpat. Fusce mattis, neque ut dapibus fringilla, purus tellus volutpat diam, ac semper enim massa ac dolor. Duis tempus bibendum luctus. Duis dapibus leo ut urna consequat consequat. Maecenas sed ligula et nunc pulvinar porttitor vitae in enim. Donec vulputate varius urna, sed interdum purus sodales a.
    </div>
  </div>
</div>

}
